
*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0%;

}
.ul-flex{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
    display: flex;
    margin: 50px;
}
.nav-h3{
   font-size: 50px;
}
.nav-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF8F3;
    margin-bottom: 0;
}
.btn{
    color: aliceblue;
    background:  #FD6E0A;
    border: 0;
    padding: 18px 35px;
    font-weight: 700;
    border-radius: 3px;
    font-size: 20px;
}
/* banner */
h1{
    font-size: 90px;
}
.banner{
    background-color: #FFF8F3;
    /* padding: 40px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0 10%; */
    padding: 30px 30px 0px 150px;
}
.banner-text{
    padding: 50px;
}
.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
    .img{
        background-image: url(../images/header_bg.png) , url(../images/developer.png);
        background-repeat: no-repeat;
        background-position: bottom right , top left;
        margin-top: 0;
    }
    /* main section */
    .h3-title{
        text-align: center;
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 50px;

    }
    .h3-title-bg{
        background-color: #FFF8F3;
        border: 0;
        border-radius: 5px;
        margin: 100px 200px ;
        padding:130px;

    }
    .info{
        font-weight: 700;
        font-size: 20px;
        color: #474747;
    }
    .div-legend{
        display: flex;
        justify-content: space-around;
    }

    /* what i do section */

    #what-i-do-description {
        padding: 30px 300px;
    }

    .card-flex{
        display: flex;
        justify-content: space-around;
        margin: 70px;
        margin-top: 0%;
        margin: 0 150px;
    }

    .skill-card{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin: 30px;
    height: 70%;
    
}
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-institute {
    color: #757575;
    font-size: 20px;
}
    .Resume-display{
        display: flex;
        margin: 0 100px;
        padding: 70px;
        gap: 50px;
    }
    .download-cv{
        margin-top: 0;
        margin-bottom: 50px;
    }
 /* footer style */
 .input-style{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
 }
 .footer-bg{
    background-color: #FFF8F3;
    display:flex;
    padding: 150px;
    gap: 50px;
    margin-top: 10px;
 }
 .footer-width{
    width: 100%;

 }
 .span{
    padding-left: 160px;
    padding-top: 10px;
 }
 a{
    padding-left: 8px;
 }